.pink{
  background-color: #cb4e4e;
}
.white{
  color: white;
}
.button1 {
  box-shadow: 0 2px #ab3c3c;
  border: none;
}
.button2 {
  box-shadow: 0 2px #ab3c3c;
  border: none;
}
.font-size {
  font-size: 18px;
}
.button3 {
  box-shadow: 0 2px #ab3c3c;
  border: none;
}